.dagny--normal {
	font-size: 1.875rem;
}

*[class^='weight-'] {
	font-size: 5rem;

	> div {
		padding: padding(14);
		border: 1px solid $color-grey-34;
		@include border-radius(10px);
	}
}

.weight--light {
	font-family: 'Dagny-light';
}

.weight--bold {
	font-family: 'Dagny-bold';
}

.weight-description {
	display: inline-block;
	width: 80%;

	padding-top: .5rem;
	margin-top: .5rem;

	vertical-align: top;
	font-family: 'Dagny', $font-family-sans-serif;
	font-size: 1rem;
	border-top: 1px solid $color-grey-34;
}
