.test-image__box {
	border: 1px solid $color-grey-65;
}

.test-image__img {
	width: 300px;
}

.test-image__retina {
	width: 200px;
	height: 200px;
	@include img-retina("../images/demo/1x.png", "../images/demo/2x.png", 200px, 200px)
}